.reportDiv{
    margin:2%;
}

.reportDiv > h2{
    text-align:center;
    padding:10px;
}

.nav-link{
    font-size:30px;
}

#teamHTML{
    background-image: url("white-background-1920x1080.jpg");
    background-size:cover;
}


#team * {
    box-sizing:border-box;
    margin:1%;
    position:relative;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    /*border:1px solid black;*/

}

#team{
    margin-left:2%;
    margin-right:2%;
}

h1#teamPageH1{
    margin-top:3%;
    font-size:40px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float:left;
    padding:15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-profile{
    width:23%;
    background-color:gainsboro;
    border:2px solid royalblue;
    text-align:center;
    color:orange;
}
.col-profileEmpty{
    width:23%;
}


.teamPageH2{
    text-align:center;
}


.profilePicDiv{
    background-color:aliceblue;
    display: flex;
    flex-direction:column;
    text-align:center;
    padding:10px;
}

.github, .linkedIn{
    width:30px;
    padding-top:2px;
    padding-bottom:4px;
     border-bottom:4px solid transparent;
}

.github:hover, .linkedIn:hover{
    border-bottom:4px solid orange;
}

#firstDAProfile, #firstFSEProfile{
    animation-name:left1;
    animation-duration:4s;
}

#secondDAProfile{
    animation-name:left2;
    animation-duration:4s;
}

#thirdDAProfile{
    animation-name:right1;
    animation-duration:4s;
}

#fourthDAProfile, #secondFSEProfile{
    animation-name:right2;
    animation-duration:4s;
}

@keyframes left1{
    0%{margin-left: -200px;}
    100% {margin-left: 0px;}
}

@keyframes left2{
    0%{margin-left: -200px;}
    100% {margin-left: 0px;}
}

@keyframes right1{
    0%{margin-left: 100%;}
    100% {margin-left: 0px;}
}

@keyframes right2{
    0%{margin-left: 100%;}
    100% {margin-left: 0px;}
}